<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Document</title>
     <link rel="stylesheet" href="/fonts/icons.svg">
     <link rel="stylesheet" href="/styles/semantic.min.css">
     <link rel="stylesheet" href="/styles/app.css">
</head>

<body>
     <div class="ui fixed inverted menu">
          <div class="ui container">
               <div class="header item"><i class="comments icon"></i>Blog Site</div>
               <a href="/" class="item">Home</a>
               <a href="/blogs/new" class="item">New Posts</a>
          </div>
     </div>